#ap {
    -fx-background-color: #3B3F42;
}

#sp {
    -fx-border-color: #4A525F;
    -fx-border-width: 1px;
    -fx-text-fill: #A9B7C6;
    -fx-background-color: #2B2B2B;
}

#ta {
    -fx-border-color: #4A525F;
    -fx-border-width: 1px;
    -fx-text-fill: #A9B7C6;
    -fx-background-color: #2B2B2B;
}

#cb {
    -fx-border-color: #4A525F;
    -fx-border-width: 1px;
    -fx-text-fill: #A9B7C6;
    -fx-background-color: #2B2B2B;
}
#cb .context-menu {
    -fx-border-color: #4A525F;
    -fx-border-width: 1px;
    -fx-background-color: #2B2B2B;
}
#cb .label {
    -fx-text-fill: #A9B7C6;
}

#tf {
    -fx-border-color: #4A525F;
    -fx-border-width: 1px;
    -fx-text-fill: #A9B7C6;
    -fx-background-color: #2B2B2B;
}

#b {
    -fx-border-color: #4A525F;
    -fx-border-width: 1px;
    -fx-text-fill: #A9B7C6;
    -fx-background-color: #2B2B2B;
}